.container {
  max-width: 99%;
}
.wlv-block {
  border: 2px solid var(--pico-card-border-color);
  box-shadow: 0 0 0 1px var(--pico-card-border-color);
  padding: 1em;
  margin: 0.5em;
}
.wlv-data {
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding-top: 76px;
  position: absolute;
  overflow-y: auto;
  flex-grow: 1;
  z-index: 1;
  left: 0;
  top: 0;
}
.wlv-data .cbx_image {
  max-width: 100%;
  cursor: pointer;
}
.wlv-details {
  max-width: 400px;
}
.wlv-details header {
  text-align: center;
}
.wlv-lightbox {
  margin-left: 1em;
}
.wlv-history {
  display: none;
  margin-left: 1em;
}
.wlv-clear {
  display: none;
  margin-left: 1em;
}
.wlv-close {
  margin-left: 1em;
}
.crb-close {
  background-color: var(--pico-del-color);
  opacity: 0.5;
  position: fixed;
  right: 20px;
}
.crb-buttons {
  flex-shrink: 0;
  width: 96%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.crb-buttons:hover {
  background-color: var(--pico-card-background-color);
  opacity: 0.9;
}
.crb-history-list {
  margin-top: 1em;
}
.truncate-text {
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* DL styling */
dl {
  margin: 1em 0;
}
dt {
  color: var(--pico-muted-color);
  font-size: 0.9em;
}
dd {
  font-weight: bold;
  font-family: monospace;
  font-size: 2em;
  margin-left: 1em;
  margin-bottom: 0.75em;
}

/* (Lightbox) */
.lightbox {
  display: none;
  position: fixed;
  flex-direction: column;
  padding: var(--pico-spacing);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  overflow-y: auto; /* Make the div scrollable */
}
.lightbox-image {
  max-width: 90%;
  max-height: 80%;
}
.lightbox-caption {
  text-align: center;
  margin-top: 0.5em;
  font-size: xx-large;
}
.lightbox-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .lightbox {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .lightbox {
    padding: 0.5rem;
  }
}

/* (Swapy) */
.swapy-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
}

.slot {
  border-radius: 10px;
  height: 400px;
}
.slot[data-swapy-highlighted] {
  background: var(--pico-card-background-color);
  opacity: 0.2;
}

.item {
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.item:has(.handle) {
  position: relative;
}

.handle {
  cursor: grab;
  width: 24px;
  height: 24px;
  background-image: url(/static/handle.svg);
  opacity: 0.5;
  position: absolute;
  right: 10px;
  top: 14px;
}

/* .item[data-swapy-dragging] {
  opacity: 0.8;
} */
